<div class="featured">
	<div class="container">
		<h4>Featured trip ideas</h4>
		<div class="trips">
			<div class="column">
				<div class="trip">
					<div class="img-block">
						<div class="img-holder">
							<img src="img/trip-1.jpg" width="163" heigth="105" alt="image description">
						</div>
					</div>
					<div class="text-block">
						<div class="title">Delenit augue duis dolore</div>
						<p>In hendrerit in vulputate velit esse molestie illum dolore eu, gothica<a href="#"> formas humanitatis</a> per seacula.</p>
						<div class="holder-btn">
							<a href="#" class="btn">VIEW</a>
						</div>
					</div>
				</div>
				<div class="trip">
					<div class="img-block">
						<div class="img-holder">
							<img src="img/trip-3.jpg" width="163" heigth="105" alt="image description">
						</div>
					</div>
					<div class="text-block">
						<div class="title">Tincidunt laoreet dolore magna</div>
						<p>Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem est.</p>
						<div class="holder-btn">
							<a href="#" class="btn">VIEW</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="trip">
					<div class="img-block">
						<div class="img-holder">
							<img src="img/trip-2.jpg" width="163" heigth="105" alt="image description">
						</div>
					</div>
					<div class="text-block">
						<div class="title">Delenit augue duis dolore</div>
						<p>In hendrerit in vulputate velit esse molestie illum dolore eu, gothica<a href="#"> formas humanitatis</a> per seacula.</p>
						<div class="holder-btn">
							<a href="#" class="btn">VIEW</a>
						</div>
					</div>
				</div>
				<div class="trip">
					<div class="img-block">
						<div class="img-holder">
							<img src="img/trip-4.jpg" width="163" heigth="105" alt="image description">
						</div>
					</div>
					<div class="text-block">
						<div class="title">Tincidunt laoreet dolore magna</div>
						<p>Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem est.</p>
						<div class="holder-btn">
							<a href="#" class="btn">VIEW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="all-holder">
			<a href="#" class="all">
				See all trip ideas
			</a>
		</div>
	</div>
</div>