<div class="footer__bottom">
	<div class="container">
		<div class="connect">
			<div class="title">LETS CONNECT</div>
			<div class="links">
				<a href="#" class="fa fa-facebook-square"></a>
				<a href="#" class="fa fa-linkedin-square"></a>
				<a href="#" class="fa fa-youtube-square"></a>
				<a href="#" class="fa fa-pinterest"></a>
				<a href="#" class="fa fa-google-plus-square"></a>
				<a href="#" class="fa fa-tripadvisor"></a>
			</div>
		</div>
		<div class="holder-book">
			<a href="#" class="book">BOOK YOUR TRIP</a>
			{% include '../utilities/form.twig'  with {forms: include.formBottom} %}
		</div>
		<ul class="touch">
			<li>
				<a href="#">Stay in Touch</a>
			</li>
			<li>
				<a href="#">Book Now</a>
			</li>
		</ul>
	</div>
</div>
