<div class="text">
	<div>{{ gallery.text }}</div>
	{% if gallery.url %}
		<div><img style="left:50%; position: relative; transsform: translateX(-50%);" width="900" src="img/{{ gallery.url }}" alt=""></div>
	{% endif %}
</div>