<div class="main-slider">
	<ul class="slider-container">
		<li>
			<div class="img-holder">
				<img src="img/slide-1.jpg" width="1200" height="486" alt="image description">
			</div>
			<div class="text-block">
				<div class="title">
					<h2>Rolling… and action</h2>
					<p>Check-in at the perfect place to check out movie and TV magic</p>
				</div>
				<div class="offer">
					<h3>WHAT TO DO: <a href="#">STUDIO TOURS</a></h3>
				</div>
			</div>
		</li>
	</ul>
</div>