<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="holder-form">
				<form action="#" class="form-header">
					 <fieldset>
					 	<div class="row">
					 		<input type="search" placeholder="Search for..." id="datepicker">
					 	</div>
					 </fieldset>
				</form>
			</div>
			<div class="holder-plan">
				<div class="plan">
					<a href="#">Plan Your Trip</a>
					<a href="#">Plan a Meeting</a>
				</div>
				<div class="links">
					<a class="link facebook" href="#"></a>
					<a class="link twitter" href="#"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<strong class="logo">
				<a href="#">Logo</a>
			</strong>
			<div class="holder-nav">
				<nav class="nav">
					<ul class="nav-menu">
						<li>
							<a href="">WHAT TO DO</a>
						</li>
						<li>
							<a href="#">Where to Stay</a>
						</li>
						<li>
							<a href="#">Trip Ideas</a>
						</li>
					</ul>
				</nav>
				<div class="holder-book">
					<a href="#" class="book">BOOK YOUR TRIP</a>
				</div>
			</div>
		</div>
	</div>
</header>