<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="holder-form">
				<form action="#" class="form-header">
					 <fieldset>
					 	<div class="row">
					 		<div class="holder-search">
					 			<input type="search" placeholder="Search for...">
					 		</div>
					 	</div>
					 </fieldset>
				</form>
			</div>
			<div class="holder-plan">
				<div class="plan">
					<a href="#">Plan Your Trip</a>
					<a href="#">Plan a Meeting</a>
				</div>
				<div class="links">
					<a class="icon-facebook" href="#"></a>
					<a class="icon-twitter" href="#"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<strong class="header__logo">
				<a href="#">Logo</a>
			</strong>
			<div class="holder-block">
				<div class="holder-btn-menu">
					<a href="#" class="btn-menu">menu</a>
				</div>
				<div class="holder-nav">
					<nav class="nav">
						<ul class="nav-menu">
							<li>
								<a href="#">WHAT TO DO</a>
								{% include '../utilities/sub-menu.twig' with {subM: subMenu.whatToDo} %}
							</li>
							<li>
								<a href="#">Where to Stay</a>
							</li>
							<li>
								<a href="#">Trip Ideas</a>
							</li>
						</ul>
					</nav>
					<div class="holder-book">
						<a href="#" class="book">BOOK YOUR TRIP</a>
						{% include '../utilities/form.twig' with {forms: include.form} %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>