.btn {
	display: inline-block;
	padding: 8px 29px 8px 20px;
	border: 1px solid #ed7310;
	background: rgb(236,106,2); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgb(236,106,2) 0%,rgb(255,186,95) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear,  left top, left bottom,  from(rgb(236,106,2)),to(rgb(255,186,95)));
	background: linear-gradient(to bottom,  rgb(236,106,2) 0%,rgb(255,186,95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6a02', endColorstr='#ffba5f',GradientType=0 ); /* IE6-9 */
	color: $white;
	position: relative;
	font-family: 'Conv_HelveticaLTStd-Roman', Helvetica, sans-serif;
	text-transform: uppercase;
	&:after {
		content: '\f054';
		font: 7px/9px 'FontAwesome';
		position: absolute;
		right: 16px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	&:hover {
		opacity: .8;
	}
}

