<form action="#" class="book-form">
	<fieldset>
		<div class="title-form" >
			<a href="#">BOOK YOUR TRIP</a>
		</div>
		{% for i in forms.input %}
			<div class="row">
				<input class="datepicker" type="text" id="{{i.id}}" required>
				<label  for="{{i.id}}"><span>{{i.title}}</span></label>
			</div>
		{% endfor %}
		<div class="row-submit">
			<input type="submit" id="" value="search">
		</div>
	</fieldset>
</form>
