{% extends '../layout/_layout.twig' %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="">
{% endblock %}

{% block title %}
	Homepage
{% endblock %}

{% block content %}
<div class="slider-top">
	{% include '../layout/modules/slider.twig' with {gal: includes.galleryTop} %}
</div>
{% include '../layout/modules/popular-block.twig' %}
<div class="slider-bottom">
	{% include '../layout/modules/slider.twig' with {gal: includes.galleryBottom} %}
</div>
{% include '../layout/modules/featured-block.twig' %}
<!--  	{% import '../layout/utilities/form.twig' as indexForm %}
	{{indexForm.field('text', title, name)}} -->
{% endblock %}
{% block footerBottom %}
	{% include '../layout/modules/footer-bottom.twig' %}
{% endblock %}
