.header-top {
	padding: 5px 0;
	.container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.holder-form {
		-webkit-box-flex: 1.85;
		-webkit-flex-grow: 1.85;
		-ms-flex-positive: 1.85;
		flex-grow: 1.85;
		text-align: center;
	}
	.holder-plan {
		-webkit-flex-basis: 270px;
		-ms-flex-preferred-size: 270px;
		flex-basis: 270px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		font-family: 'Conv_AgendaBold', Helvetica, sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		.plan {
			a {
				margin: 0 20px 0 0;
			}
		}
		.links {
			-webkit-flex-basis: 45px;
			-ms-flex-preferred-size: 45px;
			flex-basis: 46px;
		}
		.link {
			background: url('../img/facebook.png') no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 1px 0 0;
		}
	}
}
.header-bottom {
	background: $purple;
	margin: 0 0 55px;
	.container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.logo {
		position: absolute;
		background: url('../img/logo.png') no-repeat;
		width: 186px;
		height: 95px;
		font-size: 0;
		line-height: 0;
		top: 0;
		left: 10px;
	}
	.holder-nav {
		padding: 0 0 0 190px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	 	-webkit-box-pack: justify;
	 	-webkit-justify-content: space-between;
	 	-ms-flex-pack: justify;
	 	justify-content: space-between;
	 	width: 100%;
	}
	.nav {
		font-family: 'Conv_AgendaMedium', Helvetica, sans-serif;
		font-size: 21px;
		text-transform: uppercase;
	}
	.nav-menu {
		li {
			display: inline-block;
			vertical-align: middle;
			padding: 0 25px;
			position: relative;
			&:after {
				content: '|';
				position: absolute;
				right: 0;
				top: 42%;
				-webkit-transform: translateY(-42%);
				-ms-transform: translateY(-42%);
				transform: translateY(-42%);
				color: #ed8e53;
				font-size: 15px;
			}
			&:last-child:after{
				content: '';
			}
		}
		a {
			color: $white;
		}
	}
	.holder-book {
		font-family: 'Conv_AgendaBold', Helvetica, sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		padding: 0 0 0 38px;
	}
	.book {
		color: $white;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			height: 23px;
			width: 23px;
			background: url('../img/book.png') no-repeat;
			top: 50%;
			left: -38px;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			opacity: 0.5;
		}
	}
}
