$black: #000;
$white: #fff;
$blue: #2aacc8;
$red: #e60000;
$purple: #662d91;

$bg-color: #fff;

$font-sans: 'Conv_HelveticaLTStd-Roman', Helvetica, sans-serif;
$font-serif: Georgia, serif;
$font-color: #4e4e4e;
$line-height: 1.2;
$font-size: 14px;

$desktop: 1024px;
$tablet: 960px;
$mobile: 767px;
$mobile-small: 479px;